<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Categories</li>
    </ol>
</nav>
<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left pl-2">
            Categories
        </h1>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-right">+ New category</a>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>
                <div><strong>{{ category.name }}</strong></div>
                <div><small>{{ category.description }}</small></div>                
            </td>
            <td>
                <a [routerLink]="[category.id,'edit']" class="btn btn-outline-info btb-xs mr-2">Edit</a>
                <a (click) ="delete(category)" class="btn btn-outline-danger btb-xs">Delete</a>
            </td>
        </tr>
    </tbody>
</table>